.elementor-29 .elementor-element.elementor-element-3ca1a85 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 80px 0px;
}

.elementor-29 .elementor-element.elementor-element-3ca1a85:not(.elementor-motion-effects-element-type-background),
.elementor-29 .elementor-element.elementor-element-3ca1a85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/assets/images/bg-pattern.png");
}

.elementor-29 .elementor-element.elementor-element-3ca1a85>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-29 .elementor-element.elementor-element-0a23cf1>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-29 .elementor-element.elementor-element-2c3b2e5 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-29 .elementor-element.elementor-element-2c3b2e5 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 200px 200px 0px 200px;
}

.elementor-29 .elementor-element.elementor-element-13d385b .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 36px;
    text-transform: uppercase;
}

.elementor-29 .elementor-element.elementor-element-13d385b>.elementor-widget-container {
    margin: -160px 0px 0px 0px;
}

.elementor-29 .elementor-element.elementor-element-13d385b {
    z-index: 1;
}

.elementor-29 .elementor-element.elementor-element-abe6077>.elementor-element-populated {
    margin: 140px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-29 .elementor-element.elementor-element-264f57b {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-29 .elementor-element.elementor-element-264f57b .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 200px 200px 0px 200px;
}

.elementor-29 .elementor-element.elementor-element-9bc7a42 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 36px;
    text-transform: uppercase;
}

.elementor-29 .elementor-element.elementor-element-9bc7a42>.elementor-widget-container {
    margin: -160px 0px 0px 0px;
}

.elementor-29 .elementor-element.elementor-element-9bc7a42 {
    z-index: 1;
}

.elementor-29 .elementor-element.elementor-element-c004e6a>.elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-29 .elementor-element.elementor-element-e2d99e5 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-29 .elementor-element.elementor-element-e2d99e5 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 200px 200px 0px 200px;
}

.elementor-29 .elementor-element.elementor-element-4634e4c .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 36px;
    text-transform: uppercase;
}

.elementor-29 .elementor-element.elementor-element-4634e4c>.elementor-widget-container {
    margin: -160px 0px 0px 0px;
}

.elementor-29 .elementor-element.elementor-element-4634e4c {
    z-index: 1;
}

.elementor-29 .elementor-element.elementor-element-f8c233b>.elementor-element-populated {
    margin: 90px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-29 .elementor-element.elementor-element-8e4ed84 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-29 .elementor-element.elementor-element-8e4ed84 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 200px 200px 0px 200px;
}

.elementor-29 .elementor-element.elementor-element-0a4f5cf .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 36px;
    text-transform: uppercase;
}

.elementor-29 .elementor-element.elementor-element-0a4f5cf>.elementor-widget-container {
    margin: -160px 0px 0px 0px;
}

.elementor-29 .elementor-element.elementor-element-0a4f5cf {
    z-index: 1;
}

.elementor-29 .elementor-element.elementor-element-2cd5a2d>.elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-29 .elementor-element.elementor-element-a13fd3f {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-29 .elementor-element.elementor-element-a13fd3f .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 200px 200px 0px 200px;
}

.elementor-29 .elementor-element.elementor-element-6a373bc .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 36px;
    text-transform: uppercase;
}

.elementor-29 .elementor-element.elementor-element-6a373bc>.elementor-widget-container {
    margin: -160px 0px 0px 0px;
}

.elementor-29 .elementor-element.elementor-element-6a373bc {
    z-index: 1;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-29 .elementor-element.elementor-element-0a23cf1 {
        width: 50%;
    }

    .elementor-29 .elementor-element.elementor-element-abe6077 {
        width: 50%;
    }

    .elementor-29 .elementor-element.elementor-element-c004e6a {
        width: 50%;
    }

    .elementor-29 .elementor-element.elementor-element-f8c233b {
        width: 50%;
    }

    .elementor-29 .elementor-element.elementor-element-2cd5a2d {
        width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-29 .elementor-element.elementor-element-3ca1a85 {
        padding: 10px 0px 40px 0px;
    }

    .elementor-29 .elementor-element.elementor-element-0a23cf1>.elementor-element-populated {
        padding: 10px 20px 0px 20px;
    }

    .elementor-29 .elementor-element.elementor-element-13d385b .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-29 .elementor-element.elementor-element-abe6077>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 20px 0px 20px;
    }

    .elementor-29 .elementor-element.elementor-element-9bc7a42 .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-29 .elementor-element.elementor-element-c004e6a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 20px 0px 20px;
    }

    .elementor-29 .elementor-element.elementor-element-4634e4c .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-29 .elementor-element.elementor-element-f8c233b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 10px 20px 0px 20px;
    }

    .elementor-29 .elementor-element.elementor-element-0a4f5cf .elementor-heading-title {
        font-size: 36px;
    }

    .elementor-29 .elementor-element.elementor-element-2cd5a2d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 20px 0px 20px;
    }

    .elementor-29 .elementor-element.elementor-element-6a373bc .elementor-heading-title {
        font-size: 36px;
    }
}

/* Start custom CSS for heading, class: .elementor-element-13d385b */
.elementor-29 .elementor-element.elementor-element-13d385b h2 span {
    background: rgba(241, 235, 223, 0.7);
    padding: 0 5px;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9bc7a42 */
.elementor-29 .elementor-element.elementor-element-9bc7a42 h2 span {
    background: rgba(241, 235, 223, 0.7);
    padding: 0 5px;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4634e4c */
.elementor-29 .elementor-element.elementor-element-4634e4c h2 span {
    background: rgba(241, 235, 223, 0.7);
    padding: 0 5px;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-0a4f5cf */
.elementor-29 .elementor-element.elementor-element-0a4f5cf h2 span {
    background: rgba(241, 235, 223, 0.7);
    padding: 0 5px;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-6a373bc */
.elementor-29 .elementor-element.elementor-element-6a373bc h2 span {
    background: rgba(241, 235, 223, 0.7);
    padding: 0 5px;
}

/* End custom CSS */
